.picklist {
  padding: 10px;

  div {
    h4 {
      padding: 10px;
    }
  }

  button {
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #dd3838;
    color: white;
    font-weight: bolder;
  }
}
