.pcbuilder {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  button {
    width: 100px;
    justify-self: end;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bolder;
  }
}
