.pickedentry {
  width: 96%;
  display: grid;
  grid-template-columns: 14% 14% 54% 14%;
  grid-column-gap: 1.33%;
  border-bottom: #3b3b3b 1px solid;
  margin: 10px auto;
  box-sizing: content-box;

  img {
    width: 100%;
  }

  .price {
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
}
